{% extends "base.html" %}

{% block title %}Удаление статуса{% endblock %}

{% block content %}
<h1 class="h3 mb-3">Удаление статуса</h1>

<div class="alert alert-danger" role="alert">
    Вы уверены, что хотите удалить статус?
</div>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">
        Да, удалить
    </button>
    <a class="btn btn-outline-secondary" href="{% url 'statuses:list' %}">
        Отмена
    </a>
</form>
{% endblock %}
