{% extends "base.html" %} {% load i18n %} {% block title %}{% trans "Task
Manager" %}{% endblock %} {% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-4">
    <h1 class="display-5 fw-bold">{% trans "Task Manager" %}</h1>
    <p class="col-md-8 fs-4">
      {% trans "A simple and convenient task management service." %}
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">
      {% trans "Get started" %}
    </a>
  </div>
</div>
{% endblock %}
